#map,
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* background-color: #333333; */
  background: url("../images/eclipse_banner.jpg") repeat-y top center;
  /* background-size: 100vw; */
  background-size: cover;
}

/* popup */
.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.2;
  padding: 10px;
}

/* popup background and border */
.leaflet-popup-content-wrapper {
  background-color: #f9f9f9;
  border: 2px solid #008a51; /* match marker fill */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* min-width: clamp(200px, 80vw, 300px); */
  /* max-height: 400px; */
  overflow-y: auto; /* scrollbar if content is too tall */
}

/* popup arrow tip */
.leaflet-popup-tip {
  background-color: #008a51;
}

/* popup animation */
.leaflet-popup-content-wrapper {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* popup text */
.popup-content h3 {
  font-size: 16px;
  margin: 0 0 5px;
  color: #008a51;
}

.popup-content p {
  font-size: 12px;
  color: #555555;
}

/* popup carousel css */
.carousel-container {
  /* may need to set width */
  width: 300px;
  max-width: 100%;
  /* max-height: 300px; */
  height: 50vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
  /* background-color: #f0f0f0; */
  background-color: #333333;
  /* background-color: #000000; */
}

/* @media (max-width: 768px) {
  .carousel-container {
    height: 70vh;
    max-height: 70vh;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: auto;
    max-height: 300px;
  }
} */

/* photo or video */
.carousel-photo,
.carousel-video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* contain to maintain aspect ratio */
  object-position: center; /* center to keep the image centered */
  display: block;
  margin: 0 auto;
  position: relative;
}

/* prev, next, play / pause buttons */
/* position: absolute to place controls on photos */
.carousel-controls {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: auto;
  overflow: visible;
}

.carousel-controls span {
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.carousel-controls span:hover {
  transform: scale(1.2);
  color: #0085a1;
}

/* legend */
.custom-legend {
  background-color: white;
  font-size: 12px;
  padding: 10px;
  padding-bottom: 0px;
  border: 5px solid #ffd700;
  border-radius: 5px;
  line-height: 1.5;
}

.custom-legend h4 {
  font-weight: bold;
  margin: 0 0 10px 0;
  text-decoration: underline;
}

.legend-mini-text {
  font-size: 10px;
}

/* shrink legend for mobile */
@media (max-width: 768px) {
  .custom-legend {
    font-size: 10px;
    padding: 5px;
    border: 2px solid #ffd700;
  }

  .legend-mini-text {
    font-size: 8px;
  }
}

/* move legend to bottom-left for landscape mode */
@media (orientation: landscape) and (max-width: 768px) {
  .custom-legend {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
  }
}

/* school icon */
.school-icon {
  text-align: center;
  color: #ffb400;
}

/* home icon */
.home-icon {
  text-align: center;
  color: #ff5733;
}

/* globe icon */
.globe-icon {
  text-align: center;
  color: #008a51;
}

/* activity icon, with transition smoothing */
.activity-icon-stack .fa-circle {
  color: #0085a1;
  transition: transform 0.2s ease, color 0.2s ease;
}

/* on hover, slightly expand and change color */
.activity-icon-stack:hover .fa-circle {
  transform: scale(1.2);
  color: #005f73;
}

/* shrink activity inner icon */
.activity-icon-stack .fa-stack-1x {
  font-size: 0.8em;
}
