// Description: SCSS file for the Waypoints project

// Table of Contents:

// assign variables
// leaflet-control-layers
// about and reset buttons
// legend(s)
// icons
// hover tooltip styling
// popup styling
// photo carousel
// zoom button in popups
// modals

// variables
$primary-color: #008a51;
$activity-color: #0085a1;
$activity-hover-color: #005f73;
$location-color: #ff8c00;
$background-color: #333333;
$popup-bg-color: #f9f9f9;
$carousel-control-hover-color: #0085a1;
$formatted-activity-type-color: #ff8c00;
$school-icon-color: #ffb400;
$home-icon-color: #ff5733;
$legend-border-color: #ffd700;
$text-color: #333333;
$icon-hover-transform: scale(1.2);
$transition-duration: 0.3s;
// $box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
$box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
$border-radius: 5px;

// general styling
body,
html,
#map {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url("../images/eclipse_banner.jpg") repeat-y top center;
  background-size: cover;
}

/////////////////////////////////////////////////////////////////////////////

// leaflet control layers
.leaflet-control-layers {
  label,
  input[type="radio"] {
    cursor: pointer;

    &:hover {
      color: $activity-color;
    }
  }

  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    accent-color: $activity-color;
  }
}

/////////////////////////////////////////////////////////////////////////////

// common styles for about and reset buttons
.button {
  background-color: white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: $box-shadow;
  transition: background-color $transition-duration;
  padding: 0; // ensures "About" link fills entire button
  border: none;

  i {
    font-size: 16px;
    font-weight: bold;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

// reset map button styles
.reset-map-button {
  @extend .button;
  background-color: $primary-color;
  color: white;
  padding: 6px;
  font-size: 16px;

  i {
    font-size: 20px;
    color: white;
  }

  &:hover {
    background-color: $activity-hover-color;
  }
}

// about button styles
.about-button {
  @extend .button;
  background-color: white;
  border: 1px solid #ccc;

  a {
    text-decoration: none; // remove link underline
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; // so link fills the button
    height: 100%; // so link fills the button
  }

  i {
    color: $activity-color;
  }
}

/////////////////////////////////////////////////////////////////////////////

// legend(s)
#map-legend {
  display: none; // hide initial main legend
}

// legend styles
.custom-legend {
  background-color: white;
  font-size: 12px;
  padding: 10px 10px 0;
  border: 4px solid $legend-border-color;
  border-radius: $border-radius;
  color: $text-color;
  box-shadow: $box-shadow;

  // route legend units (icon, text, route line)
  .custom-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    vertical-align: middle;
  }

  // route legend icon
  .custom-legend-icon {
    margin-right: 8px;
    font-size: 16px;
    vertical-align: middle;
  }

  // route legend text
  .custom-legend-text {
    margin-right: 8px;
    font-size: 12px; // match text size to icon size
    line-height: 1;
    vertical-align: middle;
  }

  // route line of legend items
  .custom-legend-line {
    flex-grow: 1;
    height: 12px; // match heght of text for vertical alignment
    margin-left: 0;
  }
}

// routes legend popup
.legend-popup {
  position: absolute;
  top: 10px;
  left: 50px;
  max-width: 125px;
  z-index: 1000;
}

// hide route legend popup when necessary
.hidden {
  display: none;
}

// limit route legend width
#route-legend {
  margin: 0 auto;
  max-width: 150px;
}

// mobile responsive legend
@media (max-width: 768px) {
  .custom-legend {
    font-size: 10px;
  }
}

// move main legend to bottom-left for landscape orientation on mobile devices
@media (orientation: landscape) and (max-width: 1024px) {
  #map-legend {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
  }
}

/////////////////////////////////////////////////////////////////////////////

// icons
.school-icon {
  color: $school-icon-color;
}

.home-icon {
  color: $home-icon-color;
}

.globe-icon {
  color: $primary-color;
}

.location-icon-stack {
  color: $location-color;
}

// activity icons
.activity-icon-stack {
  .fa-circle,
  & {
    color: $activity-color;
    transition: transform $transition-duration, color $transition-duration;

    // on hover, slightly enlarge and change color
    &:hover .fa-circle {
      transform: $icon-hover-transform;
      color: $activity-hover-color;
    }
  }

  .fa-stack-1x {
    font-size: 0.8em;
  }
}

// activity cluster icons
.custom-cluster {
  background-color: $activity-color;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  box-shadow: $box-shadow;
  transition: transform $transition-duration, color $transition-duration;

  // on hover, change background color
  &:hover {
    background-color: $activity-hover-color;
    // enlarge doesn't work on hover, because of fixed 25px width and height
    transform: $icon-hover-transform;
  }
}

/////////////////////////////////////////////////////////////////////////////

// hover tooltip styling
.hover-tooltip-content {
  text-align: center;
}

/////////////////////////////////////////////////////////////////////////////

// popup styling
.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: $text-color;
  line-height: 1.2;
  padding: 10px;
}

// popup wrapper
.leaflet-popup-content-wrapper {
  background-color: $popup-bg-color;
  border: 3px solid $primary-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow-y: auto; // scrollbar if content overflows height
  // max-height: 300px; // set a max height for the popup
  animation: fadeIn $transition-duration ease-in-out;
}

// animation for popup fade-in effect
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// popup arrow
.leaflet-popup-tip {
  background-color: $primary-color;
}

// activity popup text
h4 {
  color: $formatted-activity-type-color;
}

// popup text
.popup-content h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: $primary-color;
}

.popup-content p {
  font-size: 13px;
  color: darken($text-color, 20%);
}

/////////////////////////////////////////////////////////////////////////////

// photo carousel
.carousel-container {
  width: 300px;
  max-width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  margin-bottom: 20px;
  background-color: $background-color;
  box-shadow: $box-shadow;

  // photo or video styling
  .carousel-photo,
  .carousel-video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; // maintain aspect ratio
    object-position: center; // center image in container
  }

  // prev, next, play/pause buttons
  // position absolute to overlay controls on photos
  .carousel-controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    z-index: 10;

    span {
      margin: 0 10px;
      cursor: pointer;
      font-size: 20px;
      transition: transform $transition-duration, color $transition-duration;

      // enlarge and color change on hover
      &:hover {
        transform: $icon-hover-transform;
        color: $carousel-control-hover-color;
      }
    }
  }
}

// fullscreen carousel styling
// mainly so image doesn't overflow screen height
.carousel-container.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: visible !important;
  display: flex;
  align-items: center;
  justify-content: center;

  .carousel-photo,
  .carousel-video {
    aspect-ratio: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    // max-height: 100%;
    max-height: 100vh; // so image doesn't overflow screen height
    object-fit: contain;
    object-position: center;
  }
}

/////////////////////////////////////////////////////////////////////////////

// zoom button in popups
.zoom-button {
  background-color: $primary-color;
  color: white;
  border: none; // remove default border
  border-radius: $border-radius;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; // spacing between icon and text
  box-shadow: $box-shadow;
  transition: background-color $transition-duration,
    transform $transition-duration;

  // icon
  i {
    font-size: 14px;
  }

  // on hover, slightly enlarge and change background color
  &:hover {
    background-color: $activity-hover-color;
    transform: $icon-hover-transform;
  }

  // slightly shrink button on click
  &:active {
    transform: scale(0.95);
  }
}

/////////////////////////////////////////////////////////////////////////////

// modals
.modal {
  display: none; // toggle modal on/off with JS
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  animation: fadeIn $transition-duration ease-in-out;

  .modal-content {
    background-color: rgba(249, 249, 249, 0.8);
    padding: 20px;
    border: 3px solid $primary-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    text-align: center;
    max-width: 600px;
    width: 80%;
    max-height: 80vh;
    overflow-y: auto; // scrollbar if content overflows height
    z-index: 1001;
    position: relative; // for absolute positioning of close button

    // 'X' close button
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    // color change on hover
    .close-button:hover,
    .close-button:focus {
      color: black;
      text-decoration: none;
    }

    // modal header
    .modal-header {
      position: relative;
      text-align: center;

      // text
      h1 {
        font-size: 2rem;
        color: $primary-color;
        margin: 0;
      }

      h2 {
        font-size: 1.2rem;
        color: $text-color;
      }

      // icon
      .modal-icon {
        font-size: 3rem;
        color: $primary-color;
        margin-bottom: 10px;
      }
    }

    // modal body
    #modal-body {
      font-size: 1rem;
      color: $text-color;
      line-height: 1.2;

      // fade-in effect for modal body
      .modal-transition {
        opacity: 0;
        transition: opacity 2s ease-in-out;
      }

      // welcome modal icon
      .modal-body-icon {
        font-size: 1.5rem;
        color: #003366;
      }

      .fa-stack {
        margin-bottom: 0px;
      }

      .fa-stack .mdi {
        vertical-align: middle;
        position: relative;
        color: $primary-color;
      }

      // text
      p {
        margin-bottom: 15px;
      }

      #modal-text {
        margin-top: 0px;
        font-size: 0.8em;
        font-style: italic;
        color: #495057;
      }
    }

    // modal footer
    .modal-footer {
      font-size: 0.9rem;
      color: $activity-color;
      margin-top: 20px;
      font-weight: bold;
      margin-bottom: 0;

      // text
      p {
        margin: 0;
      }
    }
  }
}

// image in About modal
.modal-image {
  max-width: 50%;
  max-height: 100vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid $primary-color;
  border-radius: $border-radius;
}
