body,
html,
#map {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url("../images/eclipse_banner.jpg") repeat-y top center;
  background-size: cover;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}
.modal .modal-content {
  background-color: rgba(249, 249, 249, 0.8);
  padding: 20px;
  border: 3px solid #008a51;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  width: 80%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  z-index: 1000;
}
.modal .modal-content .modal-header {
  text-align: center;
}
.modal .modal-content .modal-header h1 {
  font-size: 2rem;
  color: #008a51;
  margin: 0;
}
.modal .modal-content .modal-header h2 {
  font-size: 1.2rem;
  color: #333333;
}
.modal .modal-content .modal-header .modal-icon {
  font-size: 3rem;
  color: #008a51;
  margin-bottom: 10px;
}
.modal .modal-content #modal-body {
  font-size: 1rem;
  color: #333333;
  line-height: 1.2;
}
.modal .modal-content #modal-body .modal-transition {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.modal .modal-content #modal-body .modal-body-icon {
  font-size: 1.5rem;
  color: #003366;
}
.modal .modal-content #modal-body .fa-stack {
  margin-bottom: 0px;
}
.modal .modal-content #modal-body .fa-stack .mdi {
  vertical-align: middle;
  position: relative;
  color: #008a51;
}
.modal .modal-content #modal-body p {
  margin-bottom: 15px;
}
.modal .modal-content #modal-body #modal-text {
  margin-top: 0px;
  font-size: 0.8em;
  font-style: italic;
  color: #495057;
}
.modal .modal-content .modal-footer {
  font-size: 0.9rem;
  color: #0085a1;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.modal .modal-content .modal-footer p {
  margin: 0;
}

.leaflet-control-layers label,
.leaflet-control-layers input[type=radio] {
  cursor: pointer;
}
.leaflet-control-layers label:hover,
.leaflet-control-layers input[type=radio]:hover {
  color: #0085a1;
}
.leaflet-control-layers input[type=radio]:checked,
.leaflet-control-layers input[type=checkbox]:checked {
  accent-color: #0085a1;
}

.button, .about-button, .reset-map-button {
  background-color: white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s;
  padding: 0;
  border: none;
}
.button i, .about-button i, .reset-map-button i {
  font-size: 16px;
  font-weight: bold;
}
.button:hover, .about-button:hover, .reset-map-button:hover {
  background-color: #e0e0e0;
}

.reset-map-button {
  background-color: #008a51;
  color: white;
  padding: 6px;
  font-size: 16px;
}
.reset-map-button i {
  font-size: 20px;
  color: white;
}
.reset-map-button:hover {
  background-color: #005f73;
}

.about-button {
  background-color: white;
  border: 1px solid #ccc;
}
.about-button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.about-button i {
  color: #0085a1;
}

#map-legend {
  display: none;
}

.custom-legend {
  background-color: white;
  font-size: 12px;
  padding: 10px 10px 0;
  border: 5px solid #ffd700;
  border-radius: 5px;
  color: #333333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.custom-legend h4 {
  font-weight: bold;
  margin: 0 0 10px 0;
  text-decoration: underline;
}
.custom-legend .legend-mini-text {
  font-size: 10px;
}

@media (max-width: 768px) {
  .custom-legend {
    font-size: 10px;
    padding: 5px;
    border: 2px solid #ffd700;
  }
  .legend-mini-text {
    font-size: 8px;
  }
}
@media (orientation: landscape) and (max-width: 768px) {
  .custom-legend {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
  }
}
.globe-icon, .home-icon, .school-icon {
  text-align: center;
  transition: transform 0.3s, color 0.3s;
}

.school-icon {
  color: #ffb400;
}

.home-icon {
  color: #ff5733;
}

.globe-icon {
  color: #008a51;
}

.activity-icon-stack .fa-circle, .activity-icon-stack {
  color: #0085a1;
  transition: transform 0.3s, color 0.3s;
}
.activity-icon-stack .fa-circle:hover .fa-circle, .activity-icon-stack:hover .fa-circle {
  transform: scale(1.2);
  color: #005f73;
}
.activity-icon-stack .fa-stack-1x {
  font-size: 0.8em;
}

.custom-cluster {
  background-color: #0085a1;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, color 0.3s;
}
.custom-cluster:hover {
  background-color: #005f73;
  transform: scale(1.2);
}

.hover-tooltip-content {
  text-align: center;
}

h4 {
  color: #ff8c00;
}

.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.2;
  padding: 10px;
}

.leaflet-popup-content-wrapper {
  background-color: #f9f9f9;
  border: 2px solid #008a51;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.leaflet-popup-tip {
  background-color: #008a51;
}

.popup-content h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #008a51;
}

.popup-content p {
  font-size: 13px;
  color: black;
}

.carousel-container {
  width: 300px;
  max-width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #333333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.carousel-container .carousel-photo,
.carousel-container .carousel-video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}
.carousel-container .carousel-controls {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.carousel-container .carousel-controls span {
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s, color 0.3s;
}
.carousel-container .carousel-controls span:hover {
  transform: scale(1.2);
  color: #0085a1;
}

.zoom-button {
  background-color: #008a51;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, transform 0.3s;
}
.zoom-button i {
  font-size: 14px;
}
.zoom-button:hover {
  background-color: #005f73;
  transform: scale(1.2);
}
.zoom-button:active {
  transform: scale(0.95);
}

/*# sourceMappingURL=style.css.map */
